@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*kleuren gebruik*/
/*grijs #899CA0 en donkergroen #1C2B32*/


/*//////////////////////// 1. Global Styles */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*    2. Typography*/



body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 10px;
    text-align: center;


}












/*///////////////////////3. Areas/////////////////////////*/



/*///////////// 3.1 Header /////////////*/



.header-section {
    position: relative;
    height: 300px;

}


header {
    background: url('../assets/images/mountains.jpg') no-repeat center local;
    background-size: cover;
    margin:  0 auto;
    padding: 15%;
    position: relative;

}

section {
    text-align: center;

}


.url-field {
    border-radius: 15px 0px 0px 15px;
    background-color: transparent;
    padding: 5px;
    color: black;
    margin: -10px;



}

.availabitlity-button {
    border-radius: 0px 15px 15px 0px;
    background-color: black;
    padding: 5px;
    color: white;
}




/*to do : header text naar boven + verkleinen button*/


/*////////!*3.15 MAIN*!*!///////*/

main {
    max-width: 1000px;
    margin: 0 auto;
}





/*///////////// 3.2 Testimonial /////////////*/

.testimonial1 {
    border: 1px #899CA0;
    margin: 60px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

.testimonials-customers1 {
    position: relative;
    top: -10px;

}



.jane-pic {
    position: relative;
    left: -190px;
    width: 30px;
    top: 10px;
}

.john-pic {
    position: relative;
    left: -340px;
    width: 35px;
    top: -120px;

}

.customer-1 {
    position: relative;
    left: -220px;
    top: -20px;
}

.customer2 {
    position: relative;
    top: -90px;
    left: -235px;
}

.testimonials-customers2 {
    border: 1px #899CA0;
    margin: 50px;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
    border-radius: 10px 10px 10px 10px;

}



/*.callcenter-image {*/
/*    border-radius: 30px;*/
/*    margin: 10%;*/



.text-support {
    text-align: left;
    margin: 20px;
    left: -190px;
    position: relative;
}

.link-support {
    color: #899CA0;
    text-underline: #899CA0;

}

a:hover {
   text-decoration: none;
}

.callcenter-image {
    display: flex;
    justify-content: center;




}

.contact-button  {
    background-color: black;
    color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin: 1px;
    left: -610px;
    position: relative;


}


/*///////////// 3.4 Faq /////////////*/


.question-list {
    position:absolute;
    left: 275px;
}

details {
    border: transparent;
    border-radius: 4px;
    padding: .5em .5em 0;
    text-align: left;



}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    background-color: white;


}

details[open] {
    padding: .5em;
    background-color: grey;
    border-radius: 0px 0px 15px 15px;
    /*border-radius: 15px 15px 15px 15px;*/
    /*overflow: hidden;*/

}

details[open] summary {
    border-bottom: transparent;
    margin-bottom: .5em;

}



/*///////////// 3.5 Footer /////////////*/
footer {
    position: relative;
}


.footer-copyright {
    background-color: black;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: -300px;
    width: 2000px;

}