@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*kleuren gebruik*/
/*grijs #899CA0 en donkergroen #1C2B32*/


/*//////////////////////// 1. Global Styles */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*    2. Typography*/



body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 10px;
    text-align: center;


}












/*///////////////////////3. Areas/////////////////////////*/



/*///////////// 3.1 Header /////////////*/



header {
    background: url('../assets/images/mountains.jpg') no-repeat center local;
    background-size: cover;
    text-align: center;
    /*!*max-width: 1000px;*! --???*/
}

section {
    text-align: center;

}



header {
    margin: 0 auto;
    padding: 15%;
}

.url-field {
    border-radius: 15px 0px 0px 15px;
    background-color: transparent;
    padding: 5px;
    color: black;
    margin: -10px;



}

.availabitlity-button {
    border-radius: 0px 15px 15px 0px;
    background-color: black;
    padding: 5px;
    color: white;


/*to do : header text naar boven + verkleinen button*/
}

/*////////!*3.15 MAIN*!*!///////*/

main {
    max-width: 1000px;
    margin: 0 auto;
}





/*///////////// 3.2 Testimonial /////////////*/

.testimonials-customers {
    border: 1px solid grey;
}

/*///////////// 3.3 Support /////////////*/

.callcenter-image {
    border-radius: 30px;
}
.text-support {
    text-align: left;
    margin: 20px;
}

.link-support {
    color: grey;
    text-underline: grey;

}

a:hover {
   text-decoration: none;
}
/*ERROR MET HEADER ALS AANZET*/

div {
    display: flex;
    justify-content: center;

}

.contact-button  {
    background-color: black;
    color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin: 1px;

}


/*///////////// 3.4 Faq /////////////*/

details {
    border: transparent;
    border-radius: 4px;
    padding: .5em .5em 0;

}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    background-color: white;


}

details[open] {
    padding: .5em;
    background-color: grey;
    border-radius: 0px 0px 15px 15px;
}

details[open] summary {
    border-bottom: transparent;
    margin-bottom: .5em;

}



/*///////////// 3.5 Footer /////////////*/

.footer-copyright {
    background-color: black;
    color: white;
    padding: 30px;
}